@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root {
    --main-red-color: #D91E18;
    --paragraph-color: #555555;
    --title-or-description-color: #121212;
    --author-or-name-color: #757575;
    --nav-anchor-list-color: #494949;
}
html {
    scroll-behavior: smooth;
}
body {
    background: white;
    color: black;
    line-height: 1;
    font-family: "Helvetica Neue",Helvetica,Arial;
}
/* start global */
.container { 
    width: 90%;
    margin: auto;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
svg {
    display: block;
    vertical-align: middle;
}
hr {
    margin-top: 50px;
    color: gray;
}
/* end global */
/* start Header */
header {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0px 20px;
    background-color: #ffff;
}
.open-menu {
    display: none;
}
.sing-in {
    display: none;
}
.close-menu {
    display: none;
    font-size: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}
.logo {
    width: 100%;
}
.logo .logo-desc {
    display: inline-block;
    color: #454545;
    margin-left: 10px;
}
.logo-image {
    width: 100%;
}
.logo img {
    vertical-align: bottom;
    min-width: 10%;
    max-width: 10%;
    padding-top: 10px;
}
nav .unOrderList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: end;
}
nav .unOrderList .item {
    position: relative;
    display: inline-block;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.item-dropDown {
    display: none;
    position: absolute;
    content: " ";
    left: -100px;
    width: 300px;
    height: auto;
    background-color: white;
    z-index: 99;
    text-align: start;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.127);
}
.dropDown-content {
    padding: 20px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
.dropDown-link {
    font-size: 15px;
    padding-bottom: 10px;
    color: black;
}
.dropDown-desc {
    font-size: 14px;
    color: black;
    line-height: 1.5;
}
.item-dropDown li:hover {
    background-color: #ebebeb;
}
.item-dropDown li:first-child:hover {
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}
.item-dropDown li:last-child:hover {
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
}

nav .unOrderList .item:hover {
    background-color: #ebebeb;
}
nav .unOrderList .item:hover .item-dropDown {
    display: block;
}
nav .unOrderList .item .link {
    text-transform: uppercase;
    font-size: 13px;
    padding: 20px;
    display: block;
    font-weight: 600;
    color: var(--nav-anchor-list-color);
}
.membership {
    padding: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--main-red-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out;
    -ms-transition: box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
}
.membership-link {
    font-size: 13px;
    color: white;
    text-transform: uppercase;

}
.membership:hover {
    box-shadow: inset 0px 0px 10px 50px rgba(0, 0, 0, 0.127);
}
.open-search {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-left: 15px;
    font-size: 2rem;
}
.open-search .fa-magnifying-glass {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.open-search .fa-magnifying-glass:hover {
    opacity: .7;
}
nav .unOrderList .item.search-item:hover {
    background-color: unset;
}
/* .search-form {
    display: none;
} */
.search-container.active {
    display: block;
}
.search-container {
    display: none;
}
.search-form {
    display: none;
    position: absolute;
    content: " ";
    top: -8px;
    right: 0;
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: white;
    z-index: 99;
}
.search {
    width: 400px;
    padding: 17px;
    outline: none;
    border: none;
    background-color: #ebebeb;
    vertical-align: top;
    font-size: 15px;
}
.close-search {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-left: 15px;
    padding: 8px;
    font-size: 2rem;
}

@media screen and (max-width: 1024px) {
    header {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        padding: 10px;
    }
    .close-menu {
        display: none;
    }
    .close-menu.active {
        display: block;
    }
    .close-menu.active {
        display: block;
    }
    .open-menu {
        display: block;
        font-size: 2rem;
        outline: none;
        border: none;
        cursor: pointer;
        padding-left: 20px;
    }
    .open-menu.active {
        display: none;
    }
    .sing-in {
        display: block;
        text-align: end;
        padding: 10px 20px 0 20px ;
        
    }
    .sing-in .link {
        text-transform: uppercase;
        font-size: 13px;
        display: block;
        font-weight: 600;
        color: var(--nav-anchor-list-color);
    }
    .logo {
        text-align: center;
    }
    .logo img {
        max-width: 30%;
        padding: 1px;
    }
    .logo .logo-desc {
        display: none;
    }
    nav {
        display: none;
        position: fixed;
        content: " ";
        top: 7%;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: white;
        z-index: 99;
        overflow-y: scroll;
        padding-bottom: 100px;
    }
    nav.active {
        display: block;
    }
    .nav-content {
        width: 90%;
        margin: auto;
        height: auto;
        /* background-color: #121212; */
    }
    nav .unOrderList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
        padding: 0px;
    }
    nav .unOrderList .item {
        position: relative;
        display: block;
    }
    .item-dropDown {
        display: block;
        position: unset;
        width: 45vw;
        /* width: 400px; */
        height: auto;
        border-bottom: 1px solid #ececec;
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
        box-shadow: unset;
        padding-bottom: 10px;
    }
    .item-dropDown li:hover {
        background-color: unset;
    }
    .dropDown-link:hover {
        text-decoration: underline;
    }
    .dropDown-content {
        padding: 10px 20px;
    }
    .dropDown-link {
        font-size: 13px;
        padding: 0;
    }
    .dropDown-desc {
        line-height: 0;
        padding: 0;
        display: none;
    }
    nav .unOrderList .item:hover {
        background-color: unset;
    }
    .open-search {
        display: none;
    }
    .unOrderList .item .link.sing-in-desktop {
        display: none;
    }
    .membership {
        width: 45vw;
        margin-top: 50px;
    }
}
@media screen and (max-width: 767px) {
    .logo img {
        max-width: 50%;
    }
    nav {
        top: 8%;
        width: 100%;
        /* padding-bottom: 200px; */
    }
    .item-dropDown {
        display: block;
        position: unset;
        width: 90vw;
        height: auto;
        border-bottom: 1px solid #ececec;
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
        box-shadow: unset;
    }
    .membership {
        width: 90vw;
        padding: 15px;
        margin-top: 50px;
    }
    .membership-link {
        font-size: 13px;
        color: white;
        text-transform: uppercase;

    }
}
@media screen and (max-width: 600px) {
    nav {
        top: 7%;
    }
}

/* end Header */

/* start banner */
.banner {
    display: flex;background-color: #000;
    color: #fff;
    justify-content: space-between;
}
.banner .left {
    width: 70%;
    margin-top: 48px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 0;
}
.banner .left .text h4 {
    font-size: 18px;
    margin-bottom: 3px;
}
.banner .left .text p {
    font-size: 20px;
    line-height: 30px;
    word-spacing: 3px;
}
.banner .left .button {
    margin-top: 25px;
    padding: 12px 20px;
    background-color: #D91E18;
    display: flex;
    width: 144px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.banner .left .button:hover {
    opacity: 0.82;
}
.banner .left .button > p {
    margin-right: 6px;
    font-weight: bold;
    font-size: 14px;
}

.banner .left .button > svg {
    width: 20px;
    height: 20px;
    margin: auto;
}

.banner .right {
    width: 21%;
    margin-top: 45px;
    margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 0;
}
.banner .right > img {
    width: 95%;
}

@media screen and (max-width: 1050px) {
    
    .banner {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .banner .left {
        margin-top: 0;
        width: 92%;
    margin-right: 30px;
    margin-left: 30px;
}
    .banner .right {
        margin-bottom: 0;
        margin-right: 0;
        width: 37%;
    }
}  
/* end banner */

/* start Featured */
.featured {
    /* margin: 16px 54px; */
    width: 93%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}
.featured .header {
    /* font-size: 22px; */
    font-size: 1.375rem;
    line-height: 1.35;
    font-weight: bold;
    color: #212121;
}

.featured .content {
    display: flex;
    justify-content: space-between;
}

.featured .content .left {
    width: 49%;
}

.featured .content .left .text {
    margin-top: 45px;
}

.featured .content .left .text > h1 {
    font-weight: 700;
    line-height: 35px;
    /* word-spacing: 3px; */
}

.featured .content .left .text .detail {
    color: rgba(85,85,85);
    line-height: 1.5;
    margin: 16px 0 25px;
}

.featured .content .left .button {
    padding: 12px 20px;
    background-color: #000;
    color: #fff;
    display: flex;
    width: 120px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.featured .content .left .button:hover {
    opacity: 0.82;
}
.featured .content .left .button > p {
    margin-right: 6px;
    font-weight: bold;
    font-size: 14px;
}

.featured .content .right {
    width: 49%;
}
.featured .content .right > img {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .featured .content {
        flex-direction: column-reverse;
    }
    .featured .content .left {
        width: 98%;
    }
    .featured .content .right {
        width: 98%;
    }
    .featured .content .left .text {
        margin-top: 20px;
    }
    .featured .content .left .text > h1 {
        font-size: 24px;
        line-height: 30px;
    }
}  
/* end Featured */

/* start Featured Slides && Newest Talk */
.featuredSlides {
    position: relative;
    max-width: 95%;
    margin:  auto;
}
.item-image {
    width: 100%;
}
.item-image img {
    width: 100%;
    border-radius: 4px 4px 0 0 ;
    -webkit-border-radius: 4px 4px 0 0 ;
    -moz-border-radius: 4px 4px 0 0 ;
    -ms-border-radius: 4px 4px 0 0 ;
    -o-border-radius: 4px 4px 0 0 ;
}
.featuredSlides .title, .newest-talks-container .title {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bolder;
    padding: 10px 0;
    color: #777;
    margin: 10px 0 5px;
}
.newest-talks-container .date {
    font-size: 12px;
    padding: 10px 0;
    color: #777;
    margin: 10px 0 5px;
}
.featuredSlides .desc {
    text-transform: capitalize;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.newest-talks-container .desc {
    text-transform: capitalize;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.swiper-button-next, .swiper-button-prev {
    color: white;
    opacity: .5;
    transition: opacity .3s ;
    -webkit-transition: opacity .3s ;
    -moz-transition: opacity .3s ;
    -ms-transition: opacity .3s ;
    -o-transition: opacity .3s ;
}
.featuredSlides .swiper, .newest-talks-container .swiper {
    padding: 80px 0;
}
.newest-talks-container .swiper {
    padding: 30px;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
    color: white;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #555;
}
.newest-talks-container {
    padding: 50px 0;
}
.newest-talks-container .top {
    display: flex;
    align-items: center;justify-content: space-between;
}
.newest-talks-container .top .right {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.newest-talks-container .top .right > svg {
    margin-left: 4px;
    height: 16px;
}
.newest-talks-container .top .right > p {
    font-weight: bold;
    font-size: 14px;
}
.newest-talks-container h2 {
    font-size: 20px;
    font-weight: bolder;
}
.swiper-slide {
    cursor: pointer !important;
}
@media screen and (max-width: 600px) {
    .desc {
        font-size: 14px;
    }
}
@media screen and (max-width: 480px) {
    .title {
        font-size: 18px;
    }
    .desc {
        font-size: 11px;
        line-height: 1;
    }
}
/* end Featured Slides && Newest Talk */